# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# members of @muon-developers/muon  will be requested for
# review when someone opens a pull request.
*       @muon-developers/muon 

# In this example, @doctocat owns any files in the /folder/subfolder/
# directory at the root of the repository and any of its
# subdirectories.

# /folder/subfolder/ @doctocat